$mobile: 768px;
$tablet: 1024px;
$desktop: 1440px;

$color_red: #ef4444;
$color_orange: #f59e0b;
$color_green: #22c55e;
$color_blue: #3b82f6;
$color_gray: #6b7280;
$color_black: #0d0d0e;
$color_white: #ffffff;
$style_shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
