@use './breakpoints' as *;
@use 'sass:color';

.floating_nav {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 16px;
	display: flex;
	gap: 24px;
	padding: 10px;
	background-color: color.adjust($color_white, $alpha: -0.7);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	border: 1px solid $color_white;
	border-radius: 16px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
	z-index: 10;
	display: none;

	.floating_btn {
		width: 54px;
		height: 54px;
		text-align: center;
		border-radius: 14px;
		background-color: $color_white;
		font-size: 14px;
		cursor: pointer;
		text-decoration: none;
		color: inherit;
		border: 1px solid color.adjust($color_black, $alpha: -0.8);
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: 24px;
			height: 24px;
		}
	}
}

@media (max-width: $mobile) {
	.floating_nav {
		display: flex;
	}
}
