@use './breakpoints' as *;

.floating_nav {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 16px;
	display: flex;
	gap: 24px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	border: 2px solid rgba(255, 255, 255, 0.7);
	border-radius: 16px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
	z-index: 10;
	display: none;
}

.floating_btn {
	width: 54px;
	height: 54px;
	text-align: center;
	border-radius: 14px;
	background-color: rgba(255, 255, 255);
	font-size: 14px;
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

@media (max-width: $mobile) {
	.floating_nav {
		display: flex;
	}
}
